.theme-lang {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30rem 10rem 30rem;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding: 0 8rem;
  position: relative;

  @include show-border();

  &-div {
    display: flex;
    align-items: center;
    gap: 2rem;

    &--btn {
      width: 20rem;
    }

    &--home {
      width: 10rem;
    }
  }
}
