.work {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-rows: 12rem 10rem;

  @media only screen and (max-width: $medium-size) {
    grid-template-rows: 18rem 28rem;
  }

  @media only screen and (max-width: $small-size) {
    grid-template-rows: 22rem 34rem;
  }

  &-title {
    & p {
      margin: 2rem 0;
    }
  }

  &-description {
    padding: 0 16rem;
    @media only screen and (max-width: $medium-size) {
      padding: 0 4rem;
    }
    @media only screen and (max-width: $small-size) {
      padding: 0 2rem;
    }
  }
}
