.experience {
  text-align: center;
  height: calc(70dvh - 12rem);
  padding: 8rem;
  box-sizing: border-box;

  @media only screen and (max-width: $medium-size) {
    height: max-content;
  }
  @media only screen and (max-width: $small-size) {
    padding: 8rem 6rem;
  }

  &_last {
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    padding: 2rem;
    @include border-radius-basic();

    &-border--blue {
      @include border(--light-blue);
    }
    &-border--red {
      @include border(--light-red);
    }

    &-title {
      margin-bottom: 4rem;
    }
  }

  &_other {
    margin-top: 8rem;
    @media only screen and (max-width: $medium-size) {
      margin-top: 4rem;
    }

    @media only screen and (max-width: $small-size) {
      margin-top: 4rem;
    }
  }
}
