.experience {
  text-align: center;
  height: calc(70vh - 12rem);
  padding: 8rem;
  box-sizing: border-box;

  &_last {
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    padding: 2rem;
    @include border-radius-basic();

    &-border--blue {
      @include border(--light-blue);
    }
    &-border--red {
      @include border(--light-red);
    }

    &-title {
      margin-bottom: 4rem;
    }
  }

  &_other {
    margin-top: 8rem;
  }
}
