.knowledges {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-rows: repeat(3, 46rem) 16rem;

  font-size: 1.5rem;

  & h2 {
    text-transform: uppercase;
  }

  &-images {
    @include border-radius-basic();
    height: 16rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;

    &--advanced {
      width: calc(100% / 4);
    }

    &--intermediary {
      width: calc(100% / 4);
    }

    &--basic {
      justify-self: center;
    }
  }

  &-border--blue {
    @include border(--light-blue);
  }

  &-border--red {
    @include border(--light-red);
  }

  &_other {
  }
}
